@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rubik:wght@300&display=swap');
/* style.css */
.top-banner {
    background-color: rgb(16, 76, 186);
    color: white;
    width: 100%;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    padding-left: 2vw;
}

li {
    list-style-type: none;
  
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
   
}

.top-banner ul {
    margin: 0;
}

nav {
  
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -250px; /* Adjust the value as needed */
        width: 250px; /* Adjust the width as needed */
        height: 100vh;
        overflow-y: auto;
        background-color: rgb(126, 161, 227); /* Adjust the background color as needed */
        transition: right 0.3s;
        z-index: 2;
    }

    .navbar-collapse.show {
        right: 0;
    }

    .logo {
        font-size: 10vw;
        background-color: rgb(13,110,253);
    }
}

.nav-item.dropdown > a::after {
    display: none;
}

.logo {
    font-size: 3vw;
    font-family: 'Nunito', sans-serif;
}


.hero {
    position: relative; /* To contain the pseudo-element */
    background: url('bg.png') center/cover no-repeat;
    overflow: hidden; /* Hide overflow from pseudo-element */
    height: 70vh; /* Adjust the height as needed */
    font-family: 'Nunito', sans-serif;
    text-align: center;
    z-index: 1;
  
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('bg.png') center/cover no-repeat;
    background: rgba(0, 0, 255, 0.3); /* Adjust the blue color and opacity */
    filter: blur(10px); /* Adjust the blur amount */
    z-index: -1; /* Place behind the content */
}

.herob {
    margin-top: 10vh;
    background-color: rgb(16, 76, 186);
    padding: 1.3vh 1.3vw 1.3vh 1.3vw;
    color: white;
    font-size: 3vh;
    border: none;
    border-radius: 15px;
}

.herot {
    font-size: 8vh;
    color: white;
}

.herod {
    font-size: 3vh;
    color: white;
}
.navbb{
    background-color: rgb(16, 76, 186);
    padding: 1.2vh 1.2vw 1.2vh 1.2vw;
    color: white;
    border: none;
    border-radius: 15px;
}
hr{
    color: white;
    border: 2px rgba(255, 255, 255, 0.69) solid !important;
}
.card-title {
font-weight: 600;
    font-size: 22px; 
    font-family: 'Rubik', sans-serif;
}
.card-text{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-align: left;
}
.card{
    width: 35vw !important;
  
}


@media (max-width: 768px) {

    .card-title{
        font-size: 32px;
    }
    .card{
    width: 70vw !important;
    margin: 10px;
    margin: 20px 0 20px 0;
}

}

@media (min-width: 768px) {
    .container-fluid {
        display: flex;
        justify-content: center;
    }
    .card{
    width: 70vw !important;
    margin: 10px;
    margin: 20px 0 20px 0;
}
}
.cimg{
    width: 104px !important;
    height: 104px !important;
    padding: 2vh 0 2vh 2vw;
}
.aro{
    width: 30px !important;
    height :30px !important;
}
.secdiv{
    background-image: url("bg2.png");
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
}
.imgf{
    width: 30px !important;
    height :30px !important;
    margin-right: 1vw;
}
.secdivtt{
    height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
}
.secdivts{
    font-size: 8vh;
}
.secdivimg{
  width: 80% !important;
  height: 80% !important;
  margin-left: 3vh;
}
.counter-container {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.counter-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.counter {
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
}

.counter-text {
    font-size: 18px;
}
.cardt{
    font-size: 1.3vw;
    margin-bottom: 3vh;
}
.car2{
    margin-left: 25px;
    margin-right: 25px;
}
.review-who{
    color: rgba(2, 93, 249, 0.963);
    font-family: 'Nunito', sans-serif;
}
.review-heading{
 font-family: 'Rubik', sans-serif;
 font-weight: 600;
}
.overlay-text {
   color: white;
   font-size: 2vh;
}
.overlay-title {
    color: white;
    font-size: 3vh;
 }
 .overlay-button{
    color: white;
    background-color: rgb(67, 67, 250);
    border: none;
    border-radius: 15px;
    padding: 1vh 1vw 1vh 1vw;
 }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.8); /* Blue overlay with opacity */
    opacity: 0; 
    transition: opacity 0.3s ease; /* Smooth transition on hover */
    align-items: center;
    text-align: center;
}

.card:hover .overlay {
    opacity: 1; /* Show the overlay on hover */
}




@media (max-width: 767.98px) {
    .counter {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .counter-row {
        justify-content: space-between;
    }
    .cardt{
        font-size: 3.0vw;
        margin-bottom: 3vh;
    }
    .imgf{
        width: 20px !important;
        height :20px !important;
        margin-right: 1vh;
    }
    .secdivimg{
        width: 80% !important;
        height: 80% !important;
        margin-left: 5vw !important;
        margin-top: 2vh;
      }
}
.serbtn{
    color: white;
    background-color: rgb(67, 67, 250);
    border: none;
    border-radius: 9px;
    padding: 2vh 2vw 2vh 2vw; 
    margin-bottom: 5vh;
    margin-top: 2vh;
}
.blueb{
   border: 1px white solid !important;
   margin-left: 25vh;
   font-size: 3vh!important;
}
.bluet
{
    font-size: 3vh;
    color: rgb(142, 142, 242);
}
.blueh{
    font-size: 6vh;
}
.blueimg-container {
    text-align: center;
}

.hello-text {
    color: white;
    font-size: 2vh;
    margin-top: 1vh;
    font-size: 3vh;
}
.blueimg{
    background-color: #3B71ca;
    border-radius: 100px;
    margin-top: 5vh;
}
.blue-bg {
    background-color: #0444f3;
    padding: 10px 0;
    padding-top: 15px;
    margin-top: 8vh;
}
.bbb{
    background-color: #0444f3;
}
.bluej{
    color: white;
    font-size: 2vh!important;
    padding-top: 2vh;
}
.imgcon{
    width: 90%;
}
.ciimg{
    width: 80% !important;
    margin-left: 5%;
    margin-top: 5%;
}
.lk{
    text-decoration: none;
}
.cb:hover{
color: blue;
}
.link{
    text-decoration: none;
}
.ftext{
    font-size: 4vh;
}
.service{
    font-size: 2.5vh;
    color: #0444f3;
    font-weight: 600;
}
.serviceh{
    font-size: 5vh;
    margin-bottom: 2vh;
    color: black;
    font-weight: 700;
}
footer{
    padding-top: 5vh;
}
@media (max-width: 767px) {
    .mb-4 {
        margin-bottom: 1rem !important;
    }
    .blueb{
        border: 1px white solid !important;
        margin-left: 3vh;
        font-size: 3vh!important;
     }
     .bluet
     {
         font-size: 3vh;
         color: rgb(142, 142, 242);
     }
     .blueh{
         font-size: 4vh;
     }
     .blueimg{
        background-color: #3B71ca;
        border-radius: 100px;
        margin-top: 2vh;
        width: 40%;
    }
    .hello-text {
        color: white;
        font-size: 1.5vh;
        margin-top: 1vh;
        font-size: 3vh;
    }
    .hel{
        width: 100% !important;
    }
   .imgcon{
    padding-left: 14%!important;
   }
   .cardrow{
    margin-left: 8%!important;
   }
  .footer{
    padding-left: 50px !important;
    padding-right: 20px !important;
  }
}
.price{
    padding-bottom: 4vh;
}
.pricing-card {
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .pricing-title {
    font-size: 38px;
    font-weight: bold;
    color: #007BFF;
  }
  .pricing-price {
    font-size: 36px;
    font-weight: bold;
    color: #007BFF;
    margin-top: 10px;
  }
  .pricing-button {
    margin-top: 20px;
  }
